html body {
    background-color: #ffcf59;
}

h2.title {
    padding: 1em 0;
}

div.mma-news ul li {
    padding: 1em 0;
    list-style: none;
    border-bottom: 1px solid #e86100;
}

div.mma-news ul {
    padding-left: 0;
}

a.mma_news_title {
    font-size: 1.25em;
    color: #212529;
    font-weight:bold;
    text-decoration: none;
}