html body {
    background-color: #fef3d8;
}

h2.title {
    padding: 1em 0;
}

div.mma-news ul li {
    padding: 1em 0;
    list-style: none;
    border-bottom: 1px solid #f9db92;
}

div.mma-news ul {
    padding-left: 0;
}

a.mma_news_title {
    font-size: 1.25em;
    color: #212529;
    font-weight: bold;
    text-decoration: none;
}

a {
    color: #000000;
}

/* Footer */
footer {
    background-color:#f9db92;
}

footer div.container a {
    font-size: 14px;
    color: #000000;
}